html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: $rubikFont;
    font-size: toRem(18);
    font-weight: $normalWeight;
    color: #fff;

    background-color: $veryDarkBlue;
}

main {
    margin: toRem(80) toRem(25);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: toRem(203) repeat(6, toRem(160));
    gap: toRem(24);
}