/* Mobile Layout */
html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;

    font-family: $rubikFont;
    font-size: toRem(18);
    font-weight: $normalWeight;
    color: #fff;

    background-color: $veryDarkBlue;
}

a {
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: toRem(203) repeat(6, toRem(160));
    gap: toRem(24);

    padding: toRem(80) toRem(25);
}


.attribution { 
    margin-bottom: toRem(15);
    font-size: 11px;
    text-align: center;

    a {
        font-style: italic;
        color: $desaturatedBlue; 
    }
}


/* Tablet Layout */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: toRem(203) repeat(3, toRem(160));
        width: 100%;
    }
}


/* Dekstop Layout */
@media (min-width: 1025px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid {
        grid-template-columns: repeat(4, minmax(auto, toRem(255)));
        grid-template-rows: repeat(2, minmax(auto, toRem(244)));
        gap: toRem(30);
    }
}